[submodule "wallpaper"]
	path = wallpaper
	url = https://github.com/buzzerbeat/wallpaper
[submodule "microvideo"]
	path = microvideo
	url = https://github.com/buzzerbeat/microvideo
[submodule "backend"]
	path = backend
	url = https://github.com/buzzerbeat/backend
[submodule "console"]
	path = console
	url = ./console
[submodule "qsyk"]
	path = qsyk
	url = ./qsyk
[submodule "beauty"]
	path = beauty
	url = https://github.com/buzzerbeat/beauty_advanced.git
[submodule "beauty_advanced"]
	path = beauty_advanced
	url = https://github.com/buzzerbeat/beauty_advanced.git
